<div class="hero-unit">

<h2>Our Passion</h2>
<p>
		Bringing you Electronic Dance Music.  Festivals, concerts, clubs, bars, house parties.....or dancing by yourself with your headphones.  You name it.
</p>

</div>

<div class="hero-unit">

<h2>About Us</h2>
<p>
		LivEDM is a crowdsourced Electronic Dance Music website where you can find all the newest live sets from concerts around the world, the hottest music from your favorite DJs, and explore the unknown of the most quickly growing music genre in the world.
</p>

</div>
